body {
    margin: 0 auto;
    padding: 0;
    background-color: #9d4edd;
    text-align: center;
}

main {
    width: 20rem;
    height: 30rem;
    margin: 0 auto;
    margin-top: 3rem;
}

section {
    background-color: white;
    width: 25rem;
    height: 5rem;
    border-radius: 5px;
    margin-bottom: 3rem;
}

button {
    background-color: #6f2dbd;
    color: white;
    border: none;
}

section>input {
    margin-top: 1.5rem;
    margin-right: 1rem;
    width: 15rem;
    padding: 0.3rem;
}

section>button {
    width: 4rem;
    height: 1.9rem;
    border-radius: 5px;
}

.todoitems {
    background-color: white;
    width: 25rem;
    height: 5rem;
    border-radius: 5px;
}